{% extends "base.html" %}
{% load rotterdam_formulier_html main_tags %}

{% block body %}
<h1>Serviceverzoek</h1>

<turbo-frame id="melding_aanmaken">
<form
    action="{% url 'melding_aanmaken' %}"
    class="form__request"
    data-request-medewerkers-value="{{ begraafplaats_medewerkers|json_encode }}"
    data-request-categorie_andere_oorzaak-value="{{ categorie_andere_oorzaak|json_encode }}"
    data-request-specifiek_graf_categorieen-value="{{ specifiek_graf_categorieen|json_encode }}"
    data-request-session_expiry_date_timestamp-value="{{ session_expiry_date_timestamp }}"
    id="requestForm"
    data-controller="request"
    enctype="multipart/form-data"
    method="post"
    novalidate>
    {% csrf_token %}

    <fieldset>
        {% include "snippets/legend.html" with title="Locatie" icon_name="pin_filled" only %}
        {{ form.specifiek_graf|render_rotterdam_formulier }}
        {{ form.begraafplaats|render_rotterdam_formulier }}
        {{ form.vak|render_rotterdam_formulier }}
        {{ form.grafnummer|render_rotterdam_formulier }}
        {{ form.naam_overledene|render_rotterdam_formulier }}
    </fieldset>
    <fieldset>
        {% include "snippets/legend.html" with title="Verzoek" icon_name="list" only %}
        {{ form.categorie|render_rotterdam_formulier }}
        {{ form.toelichting|render_rotterdam_formulier }}
        {{ form.fotos|render_rotterdam_formulier }}
        {{ form.aannemer|render_rotterdam_formulier }}
    </fieldset>
    <fieldset>
        {% include "snippets/legend.html" with title="Melder" icon_name="person" only %}
        {{ form.naam_melder|render_rotterdam_formulier }}
        {{ form.email_melder|render_rotterdam_formulier }}
        {{ form.no_email|render_rotterdam_formulier }}
        {{ form.telefoon_melder|render_rotterdam_formulier }}
        {{ form.rechthebbende|render_rotterdam_formulier }}
        {% comment %} {{ form.rechthebbende }} {% endcomment %}
        {{ form.terugkoppeling_gewenst|render_rotterdam_formulier }}
    </fieldset>
    <div class="form-row container__button">
        <button
            class="btn btn-action"
            type="submit"
        >
            <span>Verzoek indienen</span>
        </button>
    </div>

    <div class="modal" >
        <div class="modal-backdrop modal-exit" id="modal-backdrop"data-action="click->request#closeModal"></div>

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>
                        <span>Je bent uitgelogd</span>
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        aria-label="Sluit"
                        data-action="request#closeModal">
                    </button>
                </div>
                <div class="modal-body">
                    <section class="section--seperated">
                        <div class="container__details">
                            <p>Door de pagina opnieuw te laden, wordt je doorverwezen naar de login pagina.</p>
                            <button type="button" class="btn btn-action" data-action="request#closeModal"><span>Herlaad pagina</span></button>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</form>
</turbo-frame>
{% endblock %}
